/* Home Page */

#home {
	background: url("pic/lancecover2.jpg");
	background-size: cover;
	height: 25rem;
}

.display-3 {
	color: #343a40;
	position: absolute;
}

.lead {
	color: #343a40;
	position: absolute;
	right: 20em;
	top: 10em;
	font-size: 1.25em;
}


.schedule {
	margin-bottom: 5rem;
}


.footer {
	height: 3em;
}


/* Biography Page */

#bio {
	background: url("pic/lancecovertest.jpg");
	height: 35rem;
	background-repeat: no-repeat;
	background-position: scroll, fixed;
}

#bio-title {
	position: absolute;
	color: white;
	top: 200px;
}

.profile {
	max-width: 100%;
	height: 28rem;

}

.actor {
	margin: 1rem;
	margin-top: 0;
	height: 20rem;
}


/* Martial Arts Page */

#marts {
	background: url("pic/lancecover3test.jpg");
	height: 25rem;
}

#Mart-title {
	position: absolute;
	color: white;
	top: 150px;
}

.float {
	clear-float: clear;
}

.mstyle {
	width: 20rem;
}

.ms-2 {
	top: 3rem;
}

.ms-3 {
	top: 6rem;
}